
<app-filter (onChangeSearch)="setSearch($event)"  (onChangeFilter)="setFilter($event)" [searchInput]="searchInput" [filter]="filter"></app-filter>



<div *ngIf="currencies" class="currencies">

    <div *ngFor="let currenty of currentiesPage" (change)="setPage()">
      <div class="row">
        <div class="col-6">
            <div class="card bg-light text-dark" (click)="selectCurrency(currenty)">
                <div class="card-title">
                    ID : {{currenty.id}}
                    Type : {{currenty.attributes.currency_type}}
                    Symbol : {{currenty.attributes.symbol}}

                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <app-pagination  [currencies]="currencies" [currentiesPage]="currentiesPage" [selectedPage]= "selectedPage" [currenciesPerPage]="currenciesPerPage" (changePage)="goToPage($event)"></app-pagination>
