<h1> {{id}} </h1>
<div>
    <ul>
      <li> code : {{currentySelected.attributes.code}} </li>
      <li> name : {{currentySelected.attributes.name}} </li>
      <li> category : {{currentySelected.attributes.category}} </li>
      <li> code_iso_alpha3 : {{currentySelected.attributes.code_iso_alpha3}} </li>
      <li> code_iso_numeric3 : {{currentySelected.attributes.code_iso_numeric3}} </li>
      <li> native_symbol : {{currentySelected.attributes.native_symbol}} </li>
      <li> symbol : {{currentySelected.attributes.symbol}} </li>

    </ul>

</div>
